.root {
  background-color: #2c3e50;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.brand-title {
  margin: 0;
  font-size: 3.2rem;
  color: #fff;
  padding-bottom: 10px;
}

.brand-title:hover {
    cursor: pointer;
}

.sep {
  flex-grow: 1;
}
.main-nav {
  display: flex;
  padding: 5px;
}

.nav-item {
  text-decoration: none;
  list-style: none;
  font-size: 1.4rem;
  padding-bottom: 5px;
  margin: 10px;
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item-active {
    text-decoration: none;
    list-style: none;
    border-bottom: 2px solid #2980b9;
}

.brand > .brand-title {
  color: wheat;
}
