

.registrationform{
    padding-top: 100px;
    margin: 0px 50px 0px 50px;
}

.register{
    font-size: 50px;
    text-align: center
    
}
.button{
    padding: 5px 15px 5px 15px;
}
.buttoncontainer{
    padding-left: 380px
}
.formcontainer{
   display: inline;
}