.add-btn {
    outline: 0;
    background-color: #2ecc71;
    color: white;
    padding: 15px 20px;
    border: unset;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 20px;
}

.add-btn:hover {
    background-color: #27ae60;
    cursor: pointer;
}

.delete-btn {
    outline: 0;
    background-color: transparent;
    color: #e74c3c;
    padding: 0;
    border: unset;
    font-size: 1.7rem;
}

.delete-btn:hover {
    color: #c0392b;
}
